/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.date-filter{
    margin-top: 5px;
}
.multiselect {
    width: 150px;
    float: right;

}
.selectBox {
    position: relative;

}
.selectBox select {
    width: 100%;
}
.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;

}
.checkboxes {
    display: none;
    border: 1px #dadada solid;

}
.checkboxes label {
    display: block;

}
.checkboxes label:hover {
    background-color: #1e90ff;
}